.nav-bar {
  padding: 20px 0;
  background: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.nav-bar a {
  text-decoration: none;
}

.app-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.nav-bar a:hover {
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 1200px) {
  .app-container {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
  }
}