
<h2>Commits</h2>

<div class="date-picker-container">
  <label class="control">Start Date:</label>
  <form class="form-inline control">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp" [(ngModel)]="startDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>


  <label class="control">End date:</label>
  <form class="form-inline control">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
              name="dps" [(ngModel)]="endDate" [maxDate]="maxDate" ngbDatepicker #ds="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="ds.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>

  <button class="btn btn-primary btn-search control" (click)="onSearchClicked()">Search</button>
</div>
<p *ngIf="dateError" class="date-error">Please check date range</p>

<app-commits [commits]="commits"></app-commits>

<div *ngIf="commits.length ; else noCommits" class="page-buttons">
  <button *ngIf="page > 1" class="btn btn-primary" (click)="getNewer()">Newer</button>
  <button class="btn btn-primary" (click)="getOlder()">Older</button>
</div>

<ng-template #noCommits>
  <div class="no-commits">
    No commits to show.
  </div>
</ng-template>